{% extends "layout.html" %}

{% block title %}
    TODO List
{% endblock %}

{% block main %}


            <div class="card mx-auto w-75 shadow p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <h2 class="card-title">HEY FOLKS!</h2>
                    <p class="card-text">This is a <span class="font-italic text-danger">TODO List</span> maker that allows you to add your tasks, mark completed, sort according to priority and also see the history of tasks done previously.</p>
                    <a href="/register" class="btn btn-danger">Get started</a>
                </div>
            </div>


{% endblock %}